@import "@/scss/abstract.scss";

.profile {
  @include flex(column, center, center);
}

.img {
  width: 180px;
  border-radius: 50%;
}

.username {
  font-family: $font-bold;
  font-size: 1.925rem;
}

.id {
  background: $color-silver;
  font-size: 0.725rem;
  margin-bottom: 4px;
  padding: 2px 4px;
  border-radius: 4px;
}

.posts {
  font-size: 1.1rem;
  margin: 6px 0 18px;
}

.signOutBtn {
  @include flex(row, space-between, center);
  background: $color-gray;
  color: $color-primary;
  margin-bottom: 8px;
  padding: 14px 26px;
  border: 2px solid $color-primary;
  border-radius: 6px;
}
