@import "~normalize.css";
@import "./abstract.scss";
@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
section {
  height: 100%;
  width: 100%;
}

body {
  background: $color-gray;
  font-family: $font-reg;
  font-size: 14px;
  color: $color-dark;
}

#root {
  @include flex(column, center, center);
}

a {
  color: $color-primary;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}
